@using csharp_boolflix.Data;
@model FormFilm

<div class="container">
    <form asp-controller="Film" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Titolo:</strong>
            <input asp-for="Film.Titolo" class="d-block w-100" />
            <span asp-validation-for="Film.Titolo" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Anno:</strong>
            <input asp-for="Film.Anno" class="d-block w-100" />
            <span asp-validation-for="Film.Anno" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Pegi:</strong>
            <input asp-for="Film.Pegi" class="d-block w-100" />
            <span asp-validation-for="Film.Pegi" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Trama:</strong>
            <input asp-for="Film.Trama" class="d-block w-100" />
            <span asp-validation-for="Film.Trama" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Copertina:</strong>
            <input asp-for="Film.Copertina" class="d-block w-100" />
            <span asp-validation-for="Film.Copertina" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Risoluzione:</strong>
            <input asp-for="Film.Risoluzione" class="d-block w-100" />
            <span asp-validation-for="Film.Risoluzione" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Durata:</strong>
            <input asp-for="Film.Durata" class="d-block w-100" />
            <span asp-validation-for="Film.Durata" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Regia:</strong>
            <select asp-for="Film.RegiaId" rows="10" class="d-block w-100">
                @foreach (Regia regista in Model.Registi)
                {
                    @if (Model.Film.RegiaId == regista.Id)
                    {
                        <option value="@regista.Id" selected>@regista.Nome @regista.Cognome</option>
                    }
                    else
                    {
                        <option value="@regista.Id">@regista.Nome @regista.Cognome</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <strong>Caratteristiche:</strong>
            <select asp-for="Film.CaratteristicheId" rows="10" class="d-block w-100">
                @foreach (Caratteristica caratteristica in Model.Caratteristiche)
                {
                    @if (Model.Film.CaratteristicheId == caratteristica.Id)
                    {
                        <option value="@caratteristica.Id" selected>@caratteristica.Nome</option>
                    }
                    else
                    {
                        <option value="@caratteristica.Id">@caratteristica.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <strong>Generi:</strong>
            <select asp-for="Film.GeneriId" rows="10" class="d-block w-100">
                @foreach (Genere genere in Model.Generi)
                {
                    @if (Model.Film.GeneriId == genere.Id)
                    {
                        <option value="@genere.Id" selected>@genere.Nome</option>
                    }
                    else
                    {
                        <option value="@genere.Id">@genere.Nome</option>
                    }
                }
            </select>
        </div>
        <div class="mb-3">
            <strong>Attori:</strong>
            <br />
            <select asp-for="Film.AttoriId" rows="10" class="d-block w-100">
                @foreach (Attore attore in Model.Attori)
                {
                    @if (Model.Film.AttoriId == attore.Id)
                    {
                        <option value="@attore.Id" selected>
                            @attore.Nome @attore.Cognome
                        </option>
                    }
                    else
                    {
                        <option value="@attore.Id" selected>
                            @attore.Nome @attore.Cognome
                        </option>
                    }
                }
            </select>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>
</div>
